// Microsoft Visual C++ generated resource script.
//
#include "tftpd32.h"
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 3,51,0,0
 PRODUCTVERSION 3,51,0,0
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x0L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040C04E4"
        BEGIN
            VALUE "CompanyName", "Ph. Jounin"
            VALUE "FileDescription", "TFTP server"
            VALUE "LegalCopyright", "see license in about"
            VALUE "OriginalFileName", "tftpd32"
            VALUE "ProductVersion", "3.50"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1252
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
IDD_TFTPD32 DIALOGEX 40, 30, 356, 212
STYLE WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | 
    WS_THICKFRAME
CAPTION "Title set to APP_TITLE"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

  	// visible controls
    LTEXT           "当前目录",IDC_TXT_BASEDIR,7,8,55,9
    LTEXT           "服务器地址",IDC_TXT_ADDRESS,7,23,55,9
    PUSHBUTTON   "关于(&A)",IDC_ABOUT_BUTTON,6,163,62,12
    PUSHBUTTON      "设置(&S)",IDC_SETTINGS_BUTTON,78,163,62,12
    PUSHBUTTON      "帮助(&H)",IDC_TFTPD_HELP,151,163,62,12
    EDITTEXT        IDC_BASE_DIRECTORY,64,6,112,12,ES_AUTOHSCROLL | ES_READONLY
    COMBOBOX        IDC_CB_DIR,64,22,102,41,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | ES_WANTRETURN
    PUSHBUTTON      "浏览(&B)",IDC_BROWSE_BUTTON,193,7,37,12
    COMBOBOX        IDC_CB_IP,64,22,112,41,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "显示目录(&D)",IDC_SHDIR_BUTTON,193,22,37,12
	
    CONTROL         "",IDC_TAB_OPTION,"SysTabControl32",WS_TABSTOP,7,46,210,19,WS_EX_CONTROLPARENT
	
	// Tab Events viewer
	PUSHBUTTON      "清除(&L)",IDC_TFTP_CLEAR,70,150,10,10
    PUSHBUTTON      "复制(&O)",IDC_TFTP_COPYTOCLIP,70,154,10,10
//    LTEXT           "当前操作",IDC_TXT_CURACTION,7,148,55,10
//    EDITTEXT        IDC_CURRENT_ACTION,65,145,149,12,ES_AUTOHSCROLL | ES_READONLY
    LISTBOX         IDC_LB_LOG,8,66,141,18,NOT LBS_NOTIFY | 
                    LBS_NOINTEGRALHEIGHT | LBS_NODATA | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP

	// Tab Tftp server
    CONTROL         "List-Tftpd", IDC_LV_TFTP, "SysListView32", LVS_AUTOARRANGE | LVS_REPORT | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 158,66,80,16
	PUSHBUTTON       "", ID_STOP_TRANSFER, 0, 0, 0, 0

	// Tab tftp client
    LTEXT           "主机",IDC_TXT_CLIENTHOST,163,95,23,10
    LTEXT           "端口",IDC_TXT_CLIENTPORT,223,95,20,10
    LTEXT           "本地文件",IDC_TXT_CLIENT_LOCALFILE,161,107,20,10
    LTEXT           "远程文件",IDC_TXT_CLIENT_REMOTEFILE,161,117,20,10
    EDITTEXT        IDC_CLIENT_HOST,190,92,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_PORT,250,92,30,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_CLIENT_LOCALFILE,189,106,112,12,ES_AUTOHSCROLL,WS_EX_ACCEPTFILES
    PUSHBUTTON      "...",IDC_CLIENT_BROWSE,183,95,25,10
    EDITTEXT        IDC_CLIENT_REMOTEFILE,189,106,112,12,ES_AUTOHSCROLL
    CTEXT           "区块 #0",IDC_CLIENT_BLOCK,248,51,58,10
    LTEXT           "区块大小",IDC_TXT_CLIENTBLOCKSIZE,183,95,23,10
    COMBOBOX        IDC_CB_DATASEG,290,22,112,41,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
//    CONTROL         "Send full path to server",IDC_CLIENT_FULL_PATH,"Button",
//                    BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,14,178,109,8
    PUSHBUTTON      "下载(&G)",IDC_CLIENT_GET_BUTTON,219,121,25,12
    PUSHBUTTON      "上传(&P)",IDC_CLIENT_SEND_BUTTON,248,120,25,12
    PUSHBUTTON      "Break",IDC_CLIENT_BREAK_BUTTON,279,120,25,12
    CONTROL         "Progress1",IDC_CLIENT_PROGRESS,"msctls_progress32",WS_BORDER,175,133,138,11
	LTEXT           "You may select files from explorer and\ndrop them into Local File field", IDC_TEXT_TFTPCLIENT_HELP, 183, 90, 200, 40, ES_MULTILINE
	
	// Tab DHCP 
	
	CONTROL         "List-DHCP", IDC_LV_DHCP, "SysListView32", LVS_AUTOARRANGE | LVS_NOSORTHEADER | LVS_REPORT | WS_BORDER | WS_TABSTOP, 108,100,80,16
	PUSHBUTTON       "", ID_DELETE_ASSIGNATION, 0, 0, 0, 0
    

	//   Tab Syslog 
    CONTROL         "List-Syslog", IDC_LB_SYSLOG, "SysListView32", LVS_AUTOARRANGE | LVS_NOSORTHEADER | LVS_REPORT | WS_BORDER | WS_TABSTOP, 158,66,80,16
    PUSHBUTTON      "清除(&C)",IDC_SYSLOG_CLEAR,14,116,25,12
    PUSHBUTTON      "复制(&O)",IDC_SYSLOG_COPY,18,116,25,12


	//   SNTP Syslog 
    LTEXT           "SNTP 服务器运行中",IDC_TXT_SNTP,258,53,58,10,0x2000
	
	//  Tab DNS 
    CONTROL         "List-DNS", IDC_LB_DNS, "SysListView32", LVS_AUTOARRANGE | LVS_NOSORTHEADER | LVS_REPORT | WS_BORDER | WS_TABSTOP, 158,66,80,16


	// Background
    CTEXT           "Key HKEY_LOCAL_MACHINE\\TFTPD32\\Services is set to 0. No services available",
                    IDC_TXT_BAD_SERVICES,10,87,120,30
END

IDD_DIALOG_ABOUT DIALOG  30, 10, 199, 142
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TITLE set to: About Tftpdxx"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,74,122,50,14
    EDITTEXT        IDC_ABOUT_TFTPD32,7,20,186,98,ES_MULTILINE | ES_READONLY | WS_VSCROLL
    CTEXT           "TFTPD32",IDC_TFTPD_STRING,6,7,167,9
END

IDD_DIALOG_SETTINGS DIALOGEX 20, 65521, 244, 311
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Set to: Tftpd32/64: Settings"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,6,289,50,14
    PUSHBUTTON      "默认(&D)",IDC_BUTTON_DEFAULT,64,289,50,14
    PUSHBUTTON      "帮助(&H)",IDC_TFTPD_HELP,122,289,50,14
    PUSHBUTTON      "取消",IDCANCEL,180,289,50,14

    CONTROL         "",IDC_TAB_SETTINGS,"SysTabControl32",WS_TABSTOP,4,4,236,280,WS_EX_CONTROLPARENT
	
	
   GROUPBOX        "基准目录",IDC_GRP_TFTP,7,5,228,30
    EDITTEXT        IDC_BASEDIR,14,16,164,12,ES_AUTOHSCROLL
    PUSHBUTTON      "浏览(&B)",IDC_BUTTON_BROWSE,185,16,39,13

   GROUPBOX        "全局设置",IDC_GRP_GLOBAL,7,36,131,51
    CONTROL         "TFTP 服务器",IDC_CHECK_TFTP_SERVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,46,60,10
    CONTROL         "TFTP 客户端",IDC_CHECK_TFTP_CLIENT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,56,60,10
    CONTROL         "SNTP 服务器",IDC_CHECK_SNTP_SERVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,66,60,10
    CONTROL         "Syslog 服务器",IDC_CHECK_SYSLOG_SERVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,75,55,10
    CONTROL         "DHCP 服务器",IDC_CHECK_DHCP_SERVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,77,46,55,10
    CONTROL         "DNS 服务器",IDC_CHECK_DNS_SERVER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,77,56,55,10
   
   GROUPBOX        "Syslog 服务器",IDC_GRP_SYSLOG,141,36,93,52
    CONTROL         "Forward msg to pipe Tftpd32Syslog",IDC_CHECK_PIPE_SYSLOG,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,145,44,87,19
    CONTROL         "保存系统日志消息",IDC_CHECK_SAVE_SYSLOG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,144,63,87,10
    EDITTEXT        IDC_SYSLOG_FILE,174,73,50,12,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "到文件",IDC_TXT_SYSLOGTOFILE,147,75,20,10
	

   GROUPBOX        "TFTP 安全",IDC_STATIC,6,126,81,56
    CONTROL         "没有",IDC_RADIO_SECNONE,"Button",BS_AUTORADIOBUTTON,14,135,65,8
    CONTROL         "标准",IDC_RADIO_SECSTD,"Button",BS_AUTORADIOBUTTON,14,146,65,8
    CONTROL         "很高",IDC_RADIO_SECHIGH,"Button",BS_AUTORADIOBUTTON,14,158,65,8
    CONTROL         "只读",IDC_RADIO_SECRO,"Button",BS_AUTORADIOBUTTON,14,169,65,8

   GROUPBOX        "TFTP 设置",IDC_STATIC,91,126,142,56
    LTEXT           "超时 (秒)",IDC_STATIC,98,135,71,10
    LTEXT           "Max Retransmit",IDC_STATIC,98,146,71,10
    LTEXT           "Tftp 端口",IDC_STATIC,98,158,68,10
    LTEXT           "本地端口池",IDC_STATIC,98,169,70,10
    EDITTEXT        IDC_TIMEOUT,174,134,50,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_MAXRETRANSMIT,174,145,50,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_PORT,174,157,50,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_LOCAL_PORTS,174,168,50,12,ES_AUTOHSCROLL

   GROUPBOX        "高级 TFTP 选项",IDC_GRP_TFTP_ADVANCED,6,186,228,96
    CONTROL         "Option negotiation",IDC_CHECK_NEGOCIATE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,198,83,8
    CONTROL         "PXE 兼容",IDC_CHECK_PXE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,210,83,8
    CONTROL         "显示进度条",IDC_CHECK_PROGRESS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,222,99,8
    CONTROL         "传输 Unix 文件名",IDC_CHECK_UNIX,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,234,104,8
    CONTROL         "绑定 TFTP 到这个地址",IDC_CHECK_LOCALIP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,246,123,8
    COMBOBOX        IDC_CB_LOCALIP,139,246,85,45,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "允许 '\\' 作为虚拟路径",IDC_CHECK_VROOT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,258,104,8
    CONTROL         "Use anticipation window of ",IDC_CHECK_WINSIZE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,270,101,8
    EDITTEXT        IDC_WINSIZE,115,268,24,12,ES_AUTOHSCROLL | WS_DISABLED
	LTEXT           "Bytes",IDC_TXT_WINSIZE,144,270,61,8
    CONTROL         "启动时隐藏窗口",IDC_CHECK_HIDE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,198,90,8
    CONTROL         "创建 ""dir.txt"" 文件",IDC_CHECK_DIRTEXT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,210,90,8
    CONTROL         "创建 md5 文件",IDC_CHECK_MD5,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,222,90,8
    CONTROL         "Beep for long transfer",IDC_CHECK_BEEP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,234,90,8

   GROUPBOX        "DHCP 池定义",IDC_GRP_DHCP_POOL,6,  45,228,  100
    LTEXT           "IP 池开始地址",IDC_TXT_ADDRESS_POOL,249,17,58,10
    LTEXT           "池大小",IDC_TXT_POOL_SIZE,247,29,58,10
    LTEXT           "启动文件",IDC_TXT_BOOT_FILE,249,6,58,10
    LTEXT           "WINS/DNS 服务器",IDC_TXT_DNS_SERVER,249,41,58,10
    LTEXT           "默认路由",IDC_TXT_DEFAULT_ROUTER,249,53,58,10
    LTEXT           "子网掩码",IDC_TXT_MASK,249,53,58,10
    LTEXT           "域名",IDC_TXT_DOMAINNAME,249,53,58,10
    LTEXT           "附加选项",IDC_TXT_ADDOPTION,249,53,58,10
    EDITTEXT        IDC_DHCP_ADDRESS_POOL,277,185,58,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DHCP_POOL_SIZE,146,200,58,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DHCP_BOOT_FILE,216,166,58,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DHCP_DNS_SERVER,213,180,58,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DHCP_DEFAULT_ROUTER,213,194,58,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DHCP_MASK,149,183,58,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DHCP_DOMAINNAME,149,183,58,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DHCP_ADDOPTION_NB,149,183,58,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DHCP_ADDOPTION_VALUE,149,183,58,12,ES_AUTOHSCROLL
    PUSHBUTTON      "S\na\n&v\ne",IDC_DHCP_OK,269,66,49,12,BS_MULTILINE

   GROUPBOX        "DHCP 选项",IDC_GRP_DHCP,6,88,228,36
    CONTROL         "检测地址后分配",IDC_CHECK_PING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,11,97,115,12
    CONTROL         "绑定 DHCP 到这个地址",IDC_CHECK_LOCALIP_DHCP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,110,114,12
    COMBOBOX        IDC_CB_LOCALIP_DHCP,139,110,85,45,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Persistant leases",IDC_CHECK_PERS_LEASES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,97,72,12

	
END


IDD_DIALOG_GAUGE DIALOG  0, 0, 169, 38
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Progress1",IDC_TRF_PROGRESS,"msctls_progress32",WS_BORDER,0,24,169,11
    CTEXT           "文件大小",IDC_FILE_SIZE,0,2,169,10
    CTEXT           "0 字节已传输",IDC_FILE_STATS,0,11,169,10
END

IDD_DIALOG_SHDIR DIALOG  6, 18, 219, 112
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TITLE Set to: Tftpd32: directory"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,10,92,50,14
    // PUSHBUTTON      "取消",IDCANCEL,56,92,38,14
    PUSHBUTTON      "复制",IDC_SD_COPY,120,92,38,14
    PUSHBUTTON      "浏览",IDC_SD_EXPLORER,166,92,38,14
    LISTBOX         IDC_LB_SHDIR,6,6,207,88,LBS_SORT | LBS_USETABSTOPS | LBS_NODATA | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
END





/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_TFTPD32             ICON                    "tftpd32.ico"
IDI_TFTPD32KILL         ICON                    "tftpd32kill.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_SERVER_LIST MENU 
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "停止传输(&S)",               ID_STOP_TRANSFER
    END
END

IDM_DHCP_LIST MENU 
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "删除(&D)",               ID_DELETE_ASSIGNATION
    END
END


