// Resource file for SciTE
// Copyright 1998-2007 by Neil Hodgson <neilh@scintilla.org>
// The License.txt file describes the conditions under which this software may be distributed.

#ifndef __BORLANDC__
#include <windows.h>
#endif

#include "SciTE.h"
#include "PlatformRes.h"
//#define AUTOIT
SciTE ICON SciBall.ico

1 RT_MANIFEST SciTE.exe.manifest

SciTE MENU
BEGIN

POPUP "文件[&F]"
BEGIN
#ifdef AUTOIT
	MENUITEM "新建脚本[&N]\tCtrl+N",				IDM_NEW
	MENUITEM "打开脚本[&O]...\tCtrl+O",				IDM_OPEN
	MENUITEM "打开选择的文件名[&F]\tCtrl+Shift+O",	IDM_OPENSELECTED
	MENUITEM "重置脚本[&R]\tCtrl+R",				IDM_REVERT
	MENUITEM "关闭脚本[&C]\tCtrl+W",				IDM_CLOSE
	MENUITEM "保存脚本[&S]\tCtrl+S",				IDM_SAVE
#else
	MENUITEM "新建文件[&N]\tCtrl+N",				IDM_NEW
	MENUITEM "打开文件[&O]...\tCtrl+O",				IDM_OPEN
	MENUITEM "打开选择的文件名[&F]\tCtrl+Shift+O",	IDM_OPENSELECTED
	MENUITEM "重置文件[&R]\tCtrl+R",				IDM_REVERT
	MENUITEM "关闭文件[&C]\tCtrl+W",				IDM_CLOSE
	MENUITEM "保存文件[&S]\tCtrl+S",				IDM_SAVE
#endif
	MENUITEM "文件另存为[&A]...\tCtrl+Shift+S",		IDM_SAVEAS
	MENUITEM "保存为备份[&P]...\tCtrl+Shift+P",		IDM_SAVEACOPY
	POPUP "文件编码页[&G]"
	BEGIN
		MENUITEM "代码页属性[&C]",					IDM_ENCODING_DEFAULT
		MENUITEM "UCS-2 大编码[&B]",				IDM_ENCODING_UCS2BE
		MENUITEM "UCS-2 小编码[&L]",				IDM_ENCODING_UCS2LE
		MENUITEM "UTF-8 + BOM[&W]",					IDM_ENCODING_UTF8
		MENUITEM "UTF-8 编码[&U]",					IDM_ENCODING_UCOOKIE
	END
	POPUP "输出文件为[&E]"
	BEGIN
		MENUITEM "输出为 &HTML \t文档...",			IDM_SAVEASHTML
		MENUITEM "输出为 &RTF \t文档...",			IDM_SAVEASRTF
		MENUITEM "输出为 &PDF\t文档...",			IDM_SAVEASPDF
		MENUITEM "输出为 &LaTeX \t文档...",			IDM_SAVEASTEX
		MENUITEM "输出为 &XML \t文档...",  			IDM_SAVEASXML
	END
	MENUITEM SEPARATOR
	MENUITEM "页面设置[&U]...",						IDM_PRINTSETUP
	MENUITEM "打印代码[&P]...\tCtrl+P",				IDM_PRINT
	MENUITEM SEPARATOR
	MENUITEM "载入会话[&L]...",						IDM_LOADSESSION
	MENUITEM "保存会话[&V]...",						IDM_SAVESESSION
	MENUITEM SEPARATOR
	MENUITEM "退出程序[&X]",						IDM_QUIT
END

POPUP "编辑[&E]"
BEGIN
	MENUITEM "撤销[&U]\tCtrl+Z",  					IDM_UNDO
	MENUITEM "恢复[&R]\tCtrl+Y",  					IDM_REDO
	MENUITEM SEPARATOR
	MENUITEM "剪切[&T]\tCtrl+X",					IDM_CUT
	MENUITEM "复制[&C]\tCtrl+C",					IDM_COPY
	MENUITEM "粘贴[&P]\tCtrl+V",					IDM_PASTE
	MENUITEM "复制块[&E]\tCtrl+D",					IDM_DUPLICATE
	MENUITEM "删除[&D]\tDel",						IDM_CLEAR
	MENUITEM "全选[&A]\tCtrl+A",					IDM_SELECTALL
	MENUITEM "复制为 RT&F 格式",					IDM_COPYASRTF
	MENUITEM SEPARATOR
	MENUITEM "对应的大括号[&B]\tCtrl+E",			IDM_MATCHBRACE
	MENUITEM "选择到大括号[&O]\tCtrl+Shift+E",		IDM_SELECTTOBRACE
	MENUITEM "显示语法提示[&H]\tCtrl+Shift+Space",	IDM_SHOWCALLTIP
	MENUITEM "自动完成符号[&Y]\tCtrl+I",			IDM_COMPLETE
	MENUITEM "自动完成单词[&W]\tCtrl+Enter",		IDM_COMPLETEWORD
	MENUITEM "展开缩写单词[&V]\tCtrl+B",			IDM_ABBREV
	MENUITEM "插入缩写单词[&I]\tCtrl+Shift+R",		IDM_INS_ABBREV
	MENUITEM "添加注释符号[&M]\tCtrl+Q",			IDM_BLOCK_COMMENT
	MENUITEM "添加区域注释[&X]\tCtrl+Shift+B",		IDM_BOX_COMMENT
	MENUITEM "添加流式注释[&N]\tCtrl+Shift+Q",		IDM_STREAM_COMMENT
	MENUITEM "转换所选为大写字母[&S]\tCtrl+Shift+U",	IDM_UPRCASE
	MENUITEM "转换所选为小写字母[&L]\tCtrl+U",		IDM_LWRCASE
	POPUP "段落设置[&G]"
	BEGIN
		MENUITEM "组合[&J]",						IDM_JOIN
		MENUITEM "分隔[&S]",						IDM_SPLIT
	END
END // used: abcdefghilmnoprstuvwxy

POPUP "搜索[&S]"
BEGIN
	MENUITEM "查找字符串[&F]...\tCtrl+F",			IDM_FIND
	MENUITEM "查找下一个[&N]\tF3",					IDM_FINDNEXT
	MENUITEM "查找上一个[&S]\tShift+F3",			IDM_FINDNEXTBACK
	MENUITEM "文件中查找[&I]...\tCtrl+Shift+F",		IDM_FINDINFILES
	MENUITEM "字符串替换[&E]...\tCtrl+H",			IDM_REPLACE
	MENUITEM "递增的搜索[&L]...\tCtrl+Alt+I",		IDM_INCSEARCH
	MENUITEM SEPARATOR
	MENUITEM "跳转到指定位置[&G]...\tCtrl+G",		IDM_GOTO
	MENUITEM "下一个书签项目[&M]\tF2",				IDM_BOOKMARK_NEXT
	MENUITEM "上一个书签项目[&V]\tShift+F2",		IDM_BOOKMARK_PREV
	MENUITEM "设置与取消书签[&K]\tCtrl+F2",			IDM_BOOKMARK_TOGGLE
	MENUITEM "清除所有的书签[&C]",					IDM_BOOKMARK_CLEARALL
END

POPUP "查看[&V]"
BEGIN
	MENUITEM "全屏显示[&N]\tF11",					IDM_FULLSCREEN
	MENUITEM SEPARATOR
	MENUITEM "折叠展/开当前过程[&C]",				IDM_EXPAND
	MENUITEM "折叠展/开所有过程[&A]",				IDM_TOGGLE_FOLDALL
	MENUITEM SEPARATOR
	MENUITEM "工具栏[&T]",          				IDM_VIEWTOOLBAR
	MENUITEM "标签栏[&B]",          				IDM_VIEWTABBAR
	MENUITEM "状态栏[&S]",          				IDM_VIEWSTATUSBAR
	MENUITEM SEPARATOR
	MENUITEM "空白空间[&W]\tCtrl+Shift+8",	 		IDM_VIEWSPACE
	MENUITEM "行末字符[&E]\tCtrl+Shift+9",			IDM_VIEWEOL
	MENUITEM "自动缩排[&I]", 						IDM_VIEWGUIDES
	MENUITEM "显示行号[&L]",          				IDM_LINENUMBERMARGIN
	MENUITEM "页边空白[&M]",          				IDM_SELMARGIN
	MENUITEM "段边空白[&F]",						IDM_FOLDMARGIN
	MENUITEM "结果输出[&O]\tF8",					IDM_TOGGLEOUTPUT
	MENUITEM "运行参数[&P]\tShift+F8",				IDM_TOGGLEPARAMETERS
	MENUITEM "老式工具栏",          					IDM_OLDTOOLBAR
END

POPUP "工具[&T]"
BEGIN
#ifdef AUTOIT
	MENUITEM "编译脚本[&GUI]\tCtrl+F7",				IDM_COMPILE
	MENUITEM "编译脚本[&B]\tF7",					IDM_BUILD
	MENUITEM "运行脚本[&C]\tF5",					IDM_GO
#else
	MENUITEM "编译文件[&G]\tCtrl+F7",				IDM_COMPILE
	MENUITEM "构建文件[&B]\tF7",					IDM_BUILD
	MENUITEM "运行文件[&C]\tF5",					IDM_GO
#endif
	MENUITEM "停止执行[&S]\tCtrl+Break",			IDM_STOPEXECUTE
	MENUITEM SEPARATOR
	MENUITEM "下一消息[&N]\tF4",					IDM_NEXTMSG
	MENUITEM "上一消息[&P]\tShift+F4",				IDM_PREVMSG
	MENUITEM "清除输出[&O]\tShift+F5",				IDM_CLEAROUTPUT
	MENUITEM "切换面版[&S]\tCtrl+F6",				IDM_SWITCHPANE
END

POPUP "选项[&O]"
BEGIN
	MENUITEM "从这里打开文件[&H]",					IDM_OPENFILESHERE
	MENUITEM "窗口置顶[&A]",						IDM_ONTOP
	MENUITEM "垂直分隔[&S]",						IDM_SPLITVERTICAL
	MENUITEM "自动换行[&W]",						IDM_WRAP
	MENUITEM "限制输出[&P]",						IDM_WRAPOUTPUT
	MENUITEM "代码只读[&R]",						IDM_READONLY
	MENUITEM SEPARATOR
	POPUP    "行末所用字符[&L]"
	BEGIN
		MENUITEM "CR &+ LF\t[Windows]",				IDM_EOL_CRLF
		MENUITEM "&CR\t[MAC OS X]",					IDM_EOL_CR
		MENUITEM "&LF\t[LINUX]",					IDM_EOL_LF
	END
	MENUITEM "转换行末字符[&C]",					IDM_EOL_CONVERT
	MENUITEM SEPARATOR
	MENUITEM "修改缩排设置[&T]...\tCtrl+Shift+I",	IDM_TABSIZE
	MENUITEM "使用等宽字体[&M]\tCtrl+F11",			IDM_MONOFONT
	MENUITEM SEPARATOR
	POPUP    "打开属性文件[&P]"
	BEGIN
		MENUITEM "打开局部选项文件[&O]",			IDM_OPENLOCALPROPERTIES
		MENUITEM "打开目录选项文件[&D]",			IDM_OPENDIRECTORYPROPERTIES
		MENUITEM "打开用户选项文件[&U]",			IDM_OPENUSERPROPERTIES
		MENUITEM "打开全局选项文件[&G]",			IDM_OPENGLOBALPROPERTIES
		MENUITEM "打开单词缩写文件[&B]",			IDM_OPENABBREVPROPERTIES
		MENUITEM "打开 Lua 启动脚本[&I]", 			IDM_OPENLUAEXTERNALFILE
	END
	MENUITEM SEPARATOR
END // used: abcghlmoprstux

POPUP "编程语言[&L]"
BEGIN
	MENUITEM "", IDM_LANGUAGE
END

POPUP "面版切换[&B]"
BEGIN
	MENUITEM "上一面板[&P]\tShift+F6",				IDM_PREVFILE
	MENUITEM "下一面板[&N]\tF6",					IDM_NEXTFILE
	MENUITEM "关闭所有[&C]",						IDM_CLOSEALL
	MENUITEM "保存所有[&S]",						IDM_SAVEALL
END

POPUP "帮助[&H]"
BEGIN
	MENUITEM "帮助[&H]\tF1", 						IDM_HELP
#ifdef STATIC_BUILD
	MENUITEM "&Sc1 帮助",							IDM_HELP_SCITE
	MENUITEM "关于 Sc1\t[&A]",						IDM_ABOUT
#else
	MENUITEM "&SciTE 帮助",							IDM_HELP_SCITE
	MENUITEM "关于 SciTE\t[&A]",					IDM_ABOUT
#endif
#ifdef AUTOIT
	MENUITEM "捐助 thesnoW 汉化\t囧", 				IDM_DONATE
#endif
END

END

ABOUT DIALOGEX 26, 41, 350, 242
#ifdef AUTOIT
CAPTION "关于 SciTE4AUTOIT 中文版本"
#else
CAPTION "关于 SciTE4thesnoW 中文版本"
#endif
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	CONTROL "", IDABOUTSCINTILLA, "Scintilla", WS_CHILD, 1, 1, 346, 218
	ICON "SciTE", -1, 1, 221, 32, 32, WS_CHILD | WS_VISIBLE
	DEFPUSHBUTTON "确定", IDOK, 26, 222, 322, 20, WS_TABSTOP
END

GREP DIALOGEX 26, 41, 356, 73
CAPTION "在文件中查找"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT "关键字[&N]:", -1, 5, 7, 40, 8
	COMBOBOX IDFINDWHAT, 50, 5, 245, 50, WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL

	LTEXT "文件[&I]:", -1, 5, 25, 40, 8
	COMBOBOX IDFILES, 50, 23, 245, 50, WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL

	LTEXT "目录[&D]:", -1, 5, 43, 40, 8
	COMBOBOX IDDIRECTORY, 50, 41, 230, 50, WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL

	AUTOCHECKBOX    "完全匹配[&W]", IDWHOLEWORD,5,59,120,10, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX    "区分大小写[&C]", IDMATCHCASE,125,59,130,10, WS_TABSTOP

	DEFPUSHBUTTON "查找[&F]", IDOK, 301, 5, 50, 14, WS_TABSTOP
	PUSHBUTTON "取消[&Q]", IDCANCEL, 301, 23, 50, 14, WS_TABSTOP

	PUSHBUTTON "&..", IDDOTDOT, 285, 41, 10, 14,  WS_TABSTOP
	PUSHBUTTON "浏览[&B]...", IDBROWSE, 301, 41, 50, 14,  WS_TABSTOP

END

GOLINE DIALOGEX 26, 41, 240, 50
CAPTION "跳转"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT "目标行[&D]:", -1, 5, 8, 70, 8
	EDITTEXT IDGOLINE, 75, 6, 30, 12, WS_TABSTOP | ES_NUMBER | ES_AUTOHSCROLL
	LTEXT "列[&C]:", -1, 115, 8, 35, 8
	EDITTEXT IDGOLINECHAR, 150, 6, 30, 12, WS_TABSTOP | ES_NUMBER
	LTEXT "当前行:",-1,5,21,50,8,NOT WS_GROUP
	LTEXT "1234567",IDCURRLINE,75,21,30,8,NOT WS_GROUP
	LTEXT "当前列:",-1,115,21,35,8,NOT WS_GROUP
	LTEXT "1234567",IDCURRLINECHAR,150,21,30,8,NOT WS_GROUP
	LTEXT "最后行:",-1,5,34,50,8,NOT WS_GROUP
	LTEXT "1234567",IDLASTLINE,75,34,30,8,NOT WS_GROUP
	DEFPUSHBUTTON "跳转[&G]", IDOK, 190, 6, 45, 14, WS_TABSTOP
	PUSHBUTTON "取消", IDCANCEL, 190, 26, 45, 14, WS_TABSTOP
END

INSABBREV DIALOGEX 26, 41, 181, 45
CAPTION "插入缩写"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT "缩写[&A]:", -1, 5, 8, 65, 8
	// EDITTEXT IDABBREV, 70, 6, 106, 12, WS_TABSTOP
	COMBOBOX IDABBREV, 70, 6, 106, 88, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | CBS_SORT
	DEFPUSHBUTTON "插入[&I]", IDOK, 70, 26, 50, 14, WS_TABSTOP
	PUSHBUTTON "取消[&C]", IDCANCEL, 126, 26, 50, 14, WS_TABSTOP
END

TABSIZE DIALOGEX 26, 41, 160, 60
CAPTION "缩排设置"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT "标签大小[&T]:", -1, 5, 8, 70, 8
	EDITTEXT IDTABSIZE, 79, 6, 15, 12, WS_TABSTOP | ES_NUMBER
	LTEXT "缩排大小[&I]:", -1, 5, 26, 70, 8
	EDITTEXT IDINDENTSIZE, 79, 24, 15, 12, WS_TABSTOP | ES_NUMBER
	AUTOCHECKBOX  	"使用标签[&U]:", IDUSETABS, 5, 42, 90,12, WS_GROUP | WS_TABSTOP | BS_LEFTTEXT
	DEFPUSHBUTTON "确定", IDOK, 105, 5, 50, 14, WS_TABSTOP
	PUSHBUTTON "取消", IDCANCEL, 105, 23, 50, 14, WS_TABSTOP
	PUSHBUTTON "转换[&C]", IDCONVERT, 105, 41, 50, 14, WS_TABSTOP
END

#ifdef ALL_PARAMS
PARAMETERS  DIALOGEX 26, 41, 130, 175
#endif
PARAMETERS  DIALOGEX 26, 41, 130, 100
CAPTION "运行参数"
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT "", IDCMD, 5, 5, 120, 8

	LTEXT "&1:", -1, 5, 20, 8, 8
	EDITTEXT IDPARAMSTART+0, 15, 18, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&2:", -1, 5, 35, 8, 8
	EDITTEXT IDPARAMSTART+1, 15, 33, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&3:", -1, 5, 50, 8, 8
	EDITTEXT IDPARAMSTART+2, 15, 48, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&4:", -1, 5, 65, 8, 8
	EDITTEXT IDPARAMSTART+3, 15, 63, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
#ifdef ALL_PARAMS
	LTEXT "&5:", -1, 5, 80, 8, 8
	EDITTEXT IDPARAMSTART+4, 15, 78, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&6:", -1, 5, 95, 8, 8
	EDITTEXT IDPARAMSTART+5, 15, 93, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&7:", -1, 5, 110, 8, 8
	EDITTEXT IDPARAMSTART+6, 15, 108, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&8:", -1, 5, 125, 8, 8
	EDITTEXT IDPARAMSTART+7, 15, 123, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&9:", -1, 5, 140, 8, 8
	EDITTEXT IDPARAMSTART+8, 15, 138, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL

	DEFPUSHBUTTON "执行[&E]", IDOK, 6, 155, 55, 14, WS_TABSTOP
	PUSHBUTTON "取消[&C]", IDCANCEL, 70, 155, 55, 14, WS_TABSTOP
#endif
	DEFPUSHBUTTON "执行[&E]", IDOK, 6, 80, 55, 14, WS_TABSTOP
	PUSHBUTTON "取消[&C]", IDCANCEL, 70, 80, 55, 14, WS_TABSTOP
END

#ifdef ALL_PARAMS
PARAMETERSNONMODAL  DIALOGEX 26, 41, 130, 160
#endif
PARAMETERSNONMODAL  DIALOGEX 26, 41, 130, 85
CAPTION "运行参数"
STYLE DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT "&1:", -1, 5, 5, 8, 8
	EDITTEXT IDPARAMSTART+0, 15, 3, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&2:", -1, 5, 20, 8, 8
	EDITTEXT IDPARAMSTART+1, 15, 18, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&3:", -1, 5, 35, 8, 8
	EDITTEXT IDPARAMSTART+2, 15, 33, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&4:", -1, 5, 50, 8, 8
	EDITTEXT IDPARAMSTART+3, 15, 48, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
#ifdef ALL_PARAMS
	LTEXT "&5:", -1, 5, 65, 8, 8
	EDITTEXT IDPARAMSTART+4, 15, 63, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&6:", -1, 5, 80, 8, 8
	EDITTEXT IDPARAMSTART+5, 15, 78, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&7:", -1, 5, 95, 8, 8
	EDITTEXT IDPARAMSTART+6, 15, 93, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&8:", -1, 5, 110, 8, 8
	EDITTEXT IDPARAMSTART+7, 15, 108, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL
	LTEXT "&9:", -1, 5, 125, 8, 8
	EDITTEXT IDPARAMSTART+8, 15, 123, 110, 12, WS_TABSTOP | ES_AUTOHSCROLL

	DEFPUSHBUTTON "设置[&S]", IDOK, 6, 140, 55, 14, WS_TABSTOP
	PUSHBUTTON "取消[&C]", IDCANCEL, 70, 140, 55, 14, WS_TABSTOP
#endif
	DEFPUSHBUTTON "设置[&S]", IDOK, 6, 65, 55, 14, WS_TABSTOP
	PUSHBUTTON "取消[&C]", IDCANCEL, 70, 65, 55, 14, WS_TABSTOP
END

IDD_FIND DIALOGEX 30, 73, 275, 84
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "查找"
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT           "关键词[&N]:",-1,5,7,45,8
	COMBOBOX        IDFINDWHAT,50,5,145,50, WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	AUTOCHECKBOX    "完全  匹配[&W]", IDWHOLEWORD,5,22,120,10, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX    "区分大小写[&C]", IDMATCHCASE,5,34,130,10, WS_TABSTOP
	AUTOCHECKBOX    "正则表达式[&E]", IDREGEXP,5,46,120,10, WS_TABSTOP
	AUTOCHECKBOX    "循环  搜索[&O]", IDWRAP,5,58,120,10, WS_TABSTOP
	AUTOCHECKBOX    "转换反斜杠表达式[&B]", IDUNSLASH,5,70,160,10, WS_TABSTOP
	GROUPBOX        "查找方向:", -1, 135,22,60,34,WS_GROUP
	AUTORADIOBUTTON "向上[&U]",IDDIRECTIONUP,140,30,45,12, WS_GROUP
	AUTORADIOBUTTON "向下[&D]",IDDIRECTIONDOWN,140,42,45,12
	DEFPUSHBUTTON   "查找下一个[&F]",IDOK,205,5,65,14,WS_GROUP
	PUSHBUTTON      "标记所有的[&M]",IDMARKALL,205,23,65,14
	PUSHBUTTON      "取消  查找[&N]",IDCANCEL,205,41,65,14
END

IDD_FIND_ADV DIALOGEX 30, 73, 275, 114
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "查找"
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT           "关键词[&N]:",-1,5,7,45,8
	COMBOBOX        IDFINDWHAT,50,5,145,50, WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	AUTOCHECKBOX    "完全  匹配[&W]", IDWHOLEWORD,5,22,120,10, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX    "区分大小写[&C]", IDMATCHCASE,5,34,130,10, WS_TABSTOP
	AUTOCHECKBOX    "正则表达式[&E]", IDREGEXP,5,46,120,10, WS_TABSTOP
	AUTOCHECKBOX    "循环  搜索[&O]", IDWRAP,5,58,120,10, WS_TABSTOP
	AUTOCHECKBOX    "转换反斜杠表达式[&B]", IDUNSLASH,5,70,160,10, WS_TABSTOP
	AUTOCHECKBOX    "只在这个样式中搜索[&T]:", IDFINDINSTYLE,5,82,95,10, WS_TABSTOP
	EDITTEXT        IDFINDSTYLE,110,81,30,12, WS_GROUP | WS_TABSTOP | ES_NUMBER
	GROUPBOX        "查找方向", -1, 135,22,60,34,WS_GROUP
	AUTORADIOBUTTON "向上[&U]",IDDIRECTIONUP,140,30,45,12, WS_GROUP
	AUTORADIOBUTTON "向下[&D]",IDDIRECTIONDOWN,140,42,45,12
	DEFPUSHBUTTON   "查找下一个[&F]",IDOK,205,5,65,14,WS_GROUP
	PUSHBUTTON      "标记所有的[&M]",IDMARKALL,205,23,65,14
	PUSHBUTTON      "取消  查找[&N]",IDCANCEL,205,41,65,14
	PUSHBUTTON      "谷歌中搜索[&G]",IDGOOGLE,205,59,65,14
	PUSHBUTTON      "MSDN中搜索[&S]",IDMSDN,205,77,65,14
	PUSHBUTTON      "词霸中搜索[&I]",IDICIBA,205,95,65,14
END

IDD_REPLACE DIALOGEX 36, 44, 285, 110
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "替换"
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT           "关键词[&N]:",-1,5,7,55,8
	COMBOBOX        IDFINDWHAT,60,5,125,50,WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	LTEXT           "替换为[&P]:",-1,5,25,55,8
	COMBOBOX        IDREPLACEWITH,60,23,125,50,WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	AUTOCHECKBOX    "完全  匹配[&W]", IDWHOLEWORD,5,42,130,10, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX    "区分大小写[&C]", IDMATCHCASE,5,54,130,10, WS_TABSTOP
	AUTOCHECKBOX    "正则表达式[&E]", IDREGEXP,5,66,120,10, WS_TABSTOP
	AUTOCHECKBOX    "循环  搜索[&O]", IDWRAP,5,78,120,10, WS_TABSTOP
	AUTOCHECKBOX    "转换反斜杠表达式[&B]", IDUNSLASH,5,90,150,10, WS_TABSTOP
	DEFPUSHBUTTON   "查找下一个[&F]",IDOK,190,5,90,14,WS_GROUP
	PUSHBUTTON      "替换已找到[&R]",IDREPLACE,190,23,90,14
	PUSHBUTTON      "替换所有的[&A]",IDREPLACEALL,190,41,90,14
	PUSHBUTTON      "替换所选择[&S]",IDREPLACEINSEL,190,59,90,14
	PUSHBUTTON      "关闭本窗口[&C]",IDCANCEL,190,77,90,14
	LTEXT           "替换数量:",-1,190,96,55,8
	LTEXT           "1234567",IDREPLDONE,250,96,30,8,NOT WS_GROUP
END

IDD_REPLACE_ADV DIALOGEX 36, 44, 285, 128
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "替换"
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT           "关键词[&N]:",-1,5,7,55,8
	COMBOBOX        IDFINDWHAT,60,5,125,50,WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	LTEXT           "替换为[&P]:",-1,5,25,55,8
	COMBOBOX        IDREPLACEWITH,60,23,125,50,WS_TABSTOP | CBS_DROPDOWN | CBS_AUTOHSCROLL
	AUTOCHECKBOX    "完全  匹配[&W]", IDWHOLEWORD,5,42,130,10, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX    "区分大小写[&C]", IDMATCHCASE,5,54,130,10, WS_TABSTOP
	AUTOCHECKBOX    "正则表达式[&E]", IDREGEXP,5,66,120,10, WS_TABSTOP
	AUTOCHECKBOX    "循环  搜索[&O]", IDWRAP,5,78,120,10, WS_TABSTOP
	AUTOCHECKBOX    "转换反斜杠表达式[&B]", IDUNSLASH,5,90,150,10, WS_TABSTOP
	AUTOCHECKBOX    "只在这个样式中搜索[&T]:", IDFINDINSTYLE,5,102,95,10, WS_TABSTOP
	EDITTEXT        IDFINDSTYLE,100,101,30,12, WS_GROUP | WS_TABSTOP | ES_NUMBER
	DEFPUSHBUTTON   "查找下一个[&F]",IDOK,190,5,90,14,WS_GROUP
	PUSHBUTTON      "替换已找到[&R]",IDREPLACE,190,23,90,14
	PUSHBUTTON      "替换所有的[&A]",IDREPLACEALL,190,41,90,14
	PUSHBUTTON      "替换所选择[&S]",IDREPLACEINSEL,190,59,90,14
	PUSHBUTTON      "替换缓冲区[&U]",IDREPLACEINBUF,190,77,90,14
	PUSHBUTTON      "关闭本窗口[&C]",IDCANCEL,190,95,90,14
	LTEXT           "替换数量:",-1,190,114,55,8
	LTEXT           "1234567",IDREPLDONE,250,114,30,8,NOT WS_GROUP
END

IDD_FIND2 DIALOGEX 0, 0, 243, 14
STYLE DS_MODALFRAME | DS_CONTROL | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "宋体"
BEGIN
	LTEXT           "搜索:",IDC_STATIC,4,2,40,8
	EDITTEXT        IDC_INCFINDTEXT,45,1,175,12,ES_AUTOHSCROLL | ES_WANTRETURN
	DEFPUSHBUTTON   ">",IDC_INCFINDBTNOK,223,0,16,14
END


// 0xDD is VK_OEM_6, ']}' but not in mingw headers

ACCELS ACCELERATORS
BEGIN
	"N", IDM_NEW,   VIRTKEY, CONTROL
	"O", IDM_OPEN,   VIRTKEY, CONTROL
	"O", IDM_OPENSELECTED,   VIRTKEY, CONTROL, SHIFT
	"R", IDM_REVERT,   VIRTKEY, CONTROL
	"W", IDM_CLOSE,   VIRTKEY, CONTROL
	"S", IDM_SAVE,   VIRTKEY, CONTROL
	"S", IDM_SAVEAS, VIRTKEY, CONTROL, SHIFT
	"P", IDM_SAVEACOPY, VIRTKEY, CONTROL, SHIFT
	"P", IDM_PRINT,   VIRTKEY, CONTROL

	"F", IDM_FIND,   VIRTKEY, CONTROL
	"F", IDM_FINDINFILES,   VIRTKEY, CONTROL, SHIFT
	"H", IDM_REPLACE,  VIRTKEY, CONTROL
	"G", IDM_GOTO, VIRTKEY, CONTROL
	"E", IDM_MATCHBRACE, VIRTKEY, CONTROL
	"E", IDM_SELECTTOBRACE, VIRTKEY, CONTROL, SHIFT
	VK_SPACE, IDM_SHOWCALLTIP, VIRTKEY, CONTROL, SHIFT
	VK_SPACE, IDM_COMPLETE, VIRTKEY, CONTROL
	"B", IDM_ABBREV, VIRTKEY, CONTROL
	"R", IDM_INS_ABBREV, VIRTKEY, CONTROL, SHIFT
	"I", IDM_COMPLETE, VIRTKEY, CONTROL
	"J", IDM_PREVMATCHPPC, VIRTKEY, CONTROL
	"J", IDM_SELECTTOPREVMATCHPPC, VIRTKEY, CONTROL, SHIFT
	"K", IDM_NEXTMATCHPPC, VIRTKEY, CONTROL
	"K", IDM_SELECTTONEXTMATCHPPC, VIRTKEY, CONTROL, SHIFT
	"Q", IDM_BLOCK_COMMENT, VIRTKEY, CONTROL
	"Q", IDM_STREAM_COMMENT, VIRTKEY, CONTROL, SHIFT
	"B", IDM_BOX_COMMENT, VIRTKEY, CONTROL, SHIFT
	VK_RETURN, IDM_COMPLETEWORD, VIRTKEY, CONTROL

	// this does not work and gives RC warning:
	// ASCII character not equivalent to virtual key code
	//"*", IDM_EXPAND,  VIRTKEY, CONTROL

	// this works for a german keyboard
	187, IDM_EXPAND,  VIRTKEY, CONTROL, SHIFT
	VK_MULTIPLY, IDM_EXPAND,  VIRTKEY, CONTROL
/*
	"0", IDM_TOOLS+0, VIRTKEY, CONTROL
	"1", IDM_TOOLS+1, VIRTKEY, CONTROL
	"2", IDM_TOOLS+2, VIRTKEY, CONTROL
	"3", IDM_TOOLS+3, VIRTKEY, CONTROL
	"4", IDM_TOOLS+4, VIRTKEY, CONTROL
	"5", IDM_TOOLS+5, VIRTKEY, CONTROL
	"6", IDM_TOOLS+6, VIRTKEY, CONTROL
	"7", IDM_TOOLS+7, VIRTKEY, CONTROL
	"8", IDM_TOOLS+8, VIRTKEY, CONTROL
	"9", IDM_TOOLS+9, VIRTKEY, CONTROL
*/
	"1", IDM_BUFFER+0, VIRTKEY, ALT
	"2", IDM_BUFFER+1, VIRTKEY, ALT
	"3", IDM_BUFFER+2, VIRTKEY, ALT
	"4", IDM_BUFFER+3, VIRTKEY, ALT
	"5", IDM_BUFFER+4, VIRTKEY, ALT
	"6", IDM_BUFFER+5, VIRTKEY, ALT
	"7", IDM_BUFFER+6, VIRTKEY, ALT
	"8", IDM_BUFFER+7, VIRTKEY, ALT
	"9", IDM_BUFFER+8, VIRTKEY, ALT
	"0", IDM_BUFFER+9, VIRTKEY, ALT

	"U", IDM_UPRCASE,   VIRTKEY, CONTROL, SHIFT
	"U", IDM_LWRCASE,  VIRTKEY, CONTROL
	"8", IDM_VIEWSPACE, VIRTKEY, CONTROL, SHIFT
	"9", IDM_VIEWEOL, VIRTKEY, CONTROL, SHIFT

	"I", IDM_TABSIZE,   VIRTKEY, CONTROL, SHIFT

	VK_F1, IDM_HELP, VIRTKEY

	VK_F2, IDM_BOOKMARK_NEXT, VIRTKEY
	VK_F2, IDM_BOOKMARK_PREV, VIRTKEY, SHIFT
	VK_F2, IDM_BOOKMARK_TOGGLE, VIRTKEY, CONTROL
	VK_F2, IDM_BOOKMARK_NEXT_SELECT, VIRTKEY, ALT
	VK_F2, IDM_BOOKMARK_PREV_SELECT, VIRTKEY, ALT, SHIFT

	VK_F3, IDM_FINDNEXT,   VIRTKEY
	VK_F3, IDM_FINDNEXTBACK,   VIRTKEY, SHIFT
	VK_F3, IDM_FINDNEXTSEL,   VIRTKEY, CONTROL
	VK_F3, IDM_FINDNEXTBACKSEL,   VIRTKEY, CONTROL, SHIFT

	VK_F4, IDM_NEXTMSG,  VIRTKEY
	VK_F4, IDM_PREVMSG,  VIRTKEY, SHIFT
	VK_F4, IDM_CLOSE,   VIRTKEY, CONTROL

	VK_F5, IDM_GO,  VIRTKEY
	VK_F5, IDM_CLEAROUTPUT,  VIRTKEY, SHIFT

	VK_F6, IDM_PREVFILE,  VIRTKEY, SHIFT
	VK_F6, IDM_SWITCHPANE,  VIRTKEY, CONTROL
	VK_F6, IDM_NEXTFILE,  VIRTKEY
	VK_F6, IDM_SWITCHPANE,  VIRTKEY, CONTROL, SHIFT

	VK_F7, IDM_COMPILE,  VIRTKEY, CONTROL
	VK_F7, IDM_BUILD,  VIRTKEY

	VK_F8, IDM_TOGGLEOUTPUT, VIRTKEY
	VK_F8, IDM_TOGGLEPARAMETERS, VIRTKEY, SHIFT

	VK_F9, IDM_MACROLIST, VIRTKEY, SHIFT
	VK_F9, IDM_MACROPLAY, VIRTKEY
	VK_F9, IDM_MACRORECORD, VIRTKEY, CONTROL
	VK_F9, IDM_MACROSTOPRECORD, VIRTKEY, CONTROL, SHIFT

	VK_F11, IDM_FULLSCREEN,  VIRTKEY
	VK_F11, IDM_MONOFONT,  VIRTKEY, CONTROL

	VK_TAB, IDM_PREVFILESTACK,  VIRTKEY, CONTROL, SHIFT
	VK_TAB, IDM_NEXTFILESTACK,  VIRTKEY, CONTROL

	VK_BACK, IDM_UNDO,  VIRTKEY, ALT
	VK_BACK, IDM_REDO,  VIRTKEY, ALT, SHIFT
	VK_CANCEL, IDM_STOPEXECUTE,  VIRTKEY, CONTROL

	// Workaround for the most common case where SciTE undo and
	// redo buttons don't enable/disable when you expect.
	"Z", IDM_UNDO,  VIRTKEY, CONTROL
	"Y", IDM_REDO,  VIRTKEY, CONTROL

	"X", IDM_CUT,  VIRTKEY, CONTROL
	"C", IDM_COPY,  VIRTKEY, CONTROL

	"I", IDM_INCSEARCH,          VIRTKEY, CONTROL, ALT
END


IDR_NEWFILE	 	BITMAP "IDR_NEWFILE.bmp"
IDR_OPENFILE 		BITMAP "IDR_OPENFILE.bmp"
IDR_SAVEFILE 		BITMAP "IDR_SAVEFILE.bmp"
IDR_CLOSEFILE		BITMAP "IDR_CLOSEFILE.bmp"
IDR_PRINTFILE		BITMAP "IDR_PRINTFILE.bmp"
IDR_CUT			BITMAP "IDR_CUT.bmp"
IDR_COPY 		BITMAP "IDR_COPY.bmp"
IDR_PASTE 		BITMAP "IDR_PASTE.bmp"
IDR_DELETE 		BITMAP "IDR_DELETE.bmp"
IDR_UNDO		BITMAP "IDR_UNDO.bmp"
IDR_REDO 		BITMAP "IDR_REDO.bmp"
IDR_FIND 		BITMAP "IDR_FIND.bmp"
IDR_REPLACE	 	BITMAP "IDR_REPLACE.bmp"
IDR_HELP 		BITMAP "IDR_HELP.bmp"

//The embedded properties file is to allow a one file distribution of Sc1.EXE
#ifdef STATIC_BUILD
Embedded Properties Embedded.properties
IDC_MARGIN         CURSOR  DISCARDABLE     "Margin.cur"
#endif
IDC_DRAGDROP       CURSOR  DISCARDABLE     "DragDrop.cur"

VS_VERSION_INFO VERSIONINFO
FILEVERSION	2, 0, 1, 0
PRODUCTVERSION	2, 0, 1, 0
FILEFLAGSMASK	0x0804
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK	"VarFileInfo"
	BEGIN
		VALUE	"Translation",	0x0804,	1200
	END
	BLOCK	"StringFileInfo"
	BEGIN
		BLOCK "080404b0"
		BEGIN
		#ifdef AUTOIT
			VALUE	"CompanyName",		"thesnoW at autoit.net.cn\0"
			VALUE	"FileDescription",	"SciTE - AUTOIT中文论坛专用版本\0"
			VALUE	"FileVersion",	"2.01\0"
			VALUE	"InternalName",	"SciTE\0"
			VALUE	"LegalCopyright",	"Copyright 2007-2009 Autoit.net.cN\0"
			VALUE	"原版版权",	"Copyright 1998-2009 by Neil Hodgson\0"
			VALUE	"OriginalFilename",	"SciTE.EXE\0"
			VALUE	"ProductName",	"SciTE\0"
			VALUE	"ProductVersion",	"2.01\0"
			VALUE	"ACN_SITE",		"http://www.autoit.net.cn\0"
			VALUE	"程序说明",		"程序版权规原作者所有\0"
		#else
			VALUE	"CompanyName",		"thesnow at QQ.com\0"
			VALUE	"FileDescription",	"SciTE4thesnoW,仅用于C++学习\0"
			VALUE	"FileVersion",	"2.01\0"
			VALUE	"InternalName",	"SciTE\0"
			VALUE	"LegalCopyright",	"Copyright 1998-2009 by Neil Hodgson\0"
			VALUE	"OriginalFilename",	"SciTE.EXE\0"
			VALUE	"ProductName",	"SciTE\0"
			VALUE	"ProductVersion",	"2.01\0"
			VALUE	"程序说明",		"程序版权规原作者所有\0"
		#endif
		END
	END
END

