body
{
	margin: 8px 0px 0px 0px;
	color: #000000;
	background: #ffffff;
	background-image: url(background.png);
  	font-family: Tahoma, Verdana;
}

a#All
{
	background-image: url(All.png);
	filter: alpha(style=1, opacity=90, finishopacity=70, startx=0, starty=0, finishx=48, finishy=48);
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -1000em;
}

a:hover#All
{
	background-image: url(All.png);
	filter: ;
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -1000em;
}

a#Sequential
{
	background-image: url(Sequential.png);
	filter: alpha(style=1, opacity=90, finishopacity=70, startx=0, starty=0, finishx=48, finishy=48);
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -1000em;
}

a:hover#Sequential
{
	background-image: url(Sequential.png);
	filter: ;
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -1000em;
}

a#Random512KB
{
	background-image: url(Random512KB.png);
	filter: alpha(style=1, opacity=90, finishopacity=70, startx=0, starty=0, finishx=48, finishy=48);
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -1000em;
}

a:hover#Random512KB
{
	background-image: url(Random512KB.png);
	filter: ;
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -1000em;
}

a#Random4KB
{
	background-image: url(Random4KB.png);
	filter: alpha(style=1, opacity=90, finishopacity=70, startx=0, starty=0, finishx=48, finishy=48);
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -1000em;
}

a:hover#Random4KB
{
	background-image: url(Random4KB.png);
	filter: ;
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -1000em;
}

span#SequentialRead
{
	background-image: url(line.png);
	background-repeat: no-repeat;
	background-position-x: -150px;
	display: block;
	height: 48px;
}

span#SequentialWrite
{
	background-image: url(line.png);
	background-repeat: no-repeat;
	background-position-x: -150px;
	display: block;
	height: 48px;
}

span#RandomRead512KB
{
	background-image: url(line.png);
	background-repeat: no-repeat;
	background-position-x: -150px;
	display: block;
	height: 48px;
}

span#RandomWrite512KB
{
	background-image: url(line.png);
	background-repeat: no-repeat;
	background-position-x: -150px;
	display: block;
	height: 48px;
}

span#RandomRead4KB
{
	background-image: url(line.png);
	background-repeat: no-repeat;
	background-position-x: -150px;
	display: block;
	height: 48px;
}

span#RandomWrite4KB
{
	background-image: url(line.png);
	background-repeat: no-repeat;
	background-position-x: -150px;
	display: block;
	height: 48px;
}

p#Read
{
	display: block;
	color: #333333;
	font-size: 16px;
	height: 20px;
	width: auto;
}

p#Write
{
	display: block;
	color: #333333;
	font-size: 16px;
	height: 20px;
	width: auto;
}

span.Select
{
	display: block;
	height: 16px;
}

Select#TestDrive
{
	font-family: Tahoma;
	font-size: 14px;
	width: 171px;
}

Select#TestNumber
{
	font-family: Tahoma;
	font-size: 14px;
	width: 40px;
}

Select#TestSize
{
	font-family: Tahoma;
	font-size: 14px;
	width: 85px;
}

span.meter
{
	display: block;
	background: #ffffff;
	border-left: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-bottom: #666666 1px solid;
	border-right: #666666 1px solid;
	color: #000000;
	filter: alpha(style=1, opacity=80, finishopacity=60, startx=0, starty=0, finishx=150, finishy=48);

	font-family: Verdana;
	font-size: 40px;
	font-weight: bold;
	height: 48px;
	width: 150px;
}

p#Message
{
	display: block;
	background: #ffffff;
	border-left: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-bottom: #666666 1px solid;
	border-right: #666666 1px solid;
	padding-top: 1px;
	padding-bottom: 1px;
	
	color: #333333;
	filter: alpha(style=1, opacity=100, finishopacity=25, startx=0, starty=10, finishx=0, finishy=100);

	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	height: 22px;
	width: 306px;
}

input#Comment
{
	display: block;
	background: #ffffff;
	border-left: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-bottom: #666666 1px solid;
	border-right: #666666 1px solid;
	padding-top: 4px;
	padding-left: 4px;
	padding-bottom: 0px;
	
	color: #333333;
	filter: alpha(style=1, opacity=100, finishopacity=30, startx=0, starty=0, finishx=0, finishy=100);

	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	height: 26px;
	width: 100%;
}
